@tailwind base;
@tailwind components;
@tailwind utilities;

.containerWrap {
  @apply container mx-auto max-w-4xl
}


/* AestheticForm */

.form-container {
  margin-top: 50px;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #211f1f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #dfc9c9;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #cdcaca;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

button {
  background-color: #374656;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b3b527;
}


/* ProjectDetail  */

.project-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://i.imgur.com/ePaUAi6.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  backdrop-filter: blur(10px);
}

.project-title {
  font-size: 24px;
  margin-bottom: 16px;
  color: #fff;
}

.project-info {
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.project-email {
  color: #fff;
}




